<div class="dialog-container">
  <div class="dialog-header">
    <p>{{ currentProject.projectName }}</p>
    <div class="close-button">
      <i class="mdi mdi-close" (click)="closeDialog()"></i>
    </div>
  </div>
  <div class="dialog-content">
    <div class="video-container">
      <video preload="metadata" controls>
        <source
          src="https://vsprojects.s3.sa-east-1.amazonaws.com/Project-{{
            currentProject.videoName
          }}.mp4"
          type="video/mp4"
        />
      </video>
    </div>
    <div class="project-details">
      <p class="detail-title">{{ "projects.details" | translate }}</p>
      <p class="detail-text">
        {{ currentProject.details | translate }}
      </p>
      <div class="tech-stacks">
        <p>{{ "projects.stacks" | translate }}</p>
        <div class="stacks">
          <img
            *ngFor="let stackName of currentProject?.stacks"
            matTooltip="{{ stackName }}"
            src="../../../assets/tech-logo/{{ stackName }}.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <div class="dialog-buttons">
    <button (click)="openLiveLink()">
      {{ "projects.liveLink" | translate }}
    </button>
    <button (click)="openGitLink()">
      {{ "projects.codeLink" | translate }}
    </button>
    <p *ngIf="!isMobile" style="margin-left: auto; vertical-align: bottom">
      {{ "projects.last_update" | translate }}: {{ currentProject?.lastUpdate }}
    </p>
  </div>
</div>
