<app-side-bar></app-side-bar>
<div class="page-container">
  <section id="about" class="about-section">
    <div style="display: flex; overflow: hidden">
      <h1>Victor</h1>
      <h1
        class="highlight-text"
        [ngStyle]="{ transform: 'translateX(' + nameAnimation + 'px)' }"
      >
        _Souza
      </h1>
    </div>
    <h2>
      <span class="highlight-text">Brasil - (+55) 019 99480 - 5678</span> ·
      <span> VictorSSouza.dev@gmail.com</span>
    </h2>
    <p class="about-text">
      Animações, letras coloridas e imagens piscantes! A programação Front-end
      sempre foi o meu foco. Após realizar um estágio FullStack, onde utilizei
      <span class="highlight-text" style="font-weight: bold"
        >Angular, Django e AWS,</span
      >
      tornar minhas próprias aplicações viáveis tornou-se uma realidade. No
      entanto, como tornar tudo mais divertido? Utilizando apenas CSS e HTML,
      algumas classes e @keyframes podemos transformar a tela em pura
      <span class="highlight-text" style="font-weight: bold">MAGIA!</span>
      Sempre empenhado em manter o código limpo enquanto trabalho nesse
      processo.
    </p>
    <div class="social-media">
      <div class="social-media-circle">
        <a
          href="https://www.linkedin.com/in/victor-souza-silva/"
          target="_blank"
        >
          <i class="mdi mdi-linkedin"></i
        ></a>
      </div>

      <div class="social-media-circle">
        <a href="https://github.com/VictorSouza0106" target="_blank">
          <i class="mdi mdi-github"></i
        ></a>
      </div>

      <div class="social-media-circle">
        <a href="https://www.instagram.com/victorssouzaa_/" target="_blank"
          ><i class="mdi mdi-instagram"></i
        ></a>
      </div>
    </div>
  </section>
  <div class="divider"></div>
  <section id="skills" class="skills-section">
    <h1>Skills</h1>
    <p class="skills-area">Front-end</p>
    <div class="skills-container">
      <div class="skill-box">
        <img src="../../../assets/tech-logo/Typescript.png" alt="" />
        <p>Typescript</p>
      </div>
      <div class="skill-box">
        <img src="../../../assets/tech-logo/Angular.png" alt="" />
        <p>Angular</p>
      </div>
      <div class="skill-box">
        <img src="../../../assets/tech-logo/Angular.png" alt="" />
        <p>AngularJS</p>
      </div>
    </div>
    <p class="skills-area">Back-end</p>
    <div class="skills-container">
      <div class="skill-box">
        <img src="../../../assets/tech-logo/Django.png" alt="" />
        <p>Django</p>
      </div>
      <div class="skill-box">
        <img src="../../../assets/tech-logo/NodeJS.png" alt="" />
        <p>Node.js</p>
      </div>
      <div class="skill-box">
        <img src="../../../assets/tech-logo/MongoDB.png" alt="" />
        <p>MongoDB</p>
      </div>
    </div>
    <p class="skills-area">Infraestrutura</p>
    <div class="skills-container">
      <div class="skill-box">
        <img src="../../../assets/tech-logo/AWS.png" alt="" />
        <p>AWS</p>
      </div>
      <div class="skill-box">
        <img src="../../../assets/tech-logo/Heroku.png" alt="" />
        <p>Heroku</p>
      </div>
      <div class="skill-box">
        <img src="../../../assets/tech-logo/Vercel.png" alt="" />
        <p>Vercel</p>
      </div>
    </div>
  </section>
  <div class="divider"></div>
  <section id="exp" class="exp-section">
    <h1>Experiência</h1>
    <div class="exp-container">
      <div class="exp-work">
        <h2>Angular Developer</h2>
        <h3>ThoughtWorks - Brasil</h3>
        <p class="exp-desc">
          <span class="exp-desc-title">Descrição:</span> Resoluções de BUGS
          dentro da aplicação no sistema legado AngularJS, Criação de testes
          unitarios para componentes sem documentações utilizando Karma/Jasmine
          (Angular 8) - <span class="highlight-text">International Team</span>
        </p>
        <p class="exp-desc-date">Dezembro de 2022 - Julho de 2023</p>
        <div class="techs-container">
          <p class="tech-tag">
            <img src="../../../assets/tech-logo/Angular.png" alt="" />Angular
          </p>
          <p class="tech-tag">
            <img src="../../../assets/tech-logo/Angular.png" alt="" /> AngularJS
          </p>
        </div>
      </div>
      <div class="exp-work">
        <h2>Desenvolvedor React</h2>
        <h3>Mitfokus - Soluções Financeiras</h3>
        <p class="exp-desc">
          <span class="exp-desc-title">Descrição:</span> Criar novas paginas
          para o software utilizando UI/UX desenvolvida no Figma (Pixel by
          Pixel), Criação de um
          <span class="highlight-text">Design System</span> separando
          responsabilidade de cada componente, Adição de Animações CSS para
          aplicação
        </p>
        <p class="exp-desc-date">Dezembro de 2022 - Julho de 2023</p>
        <div class="techs-container">
          <p class="tech-tag">
            <img src="../../../assets/tech-logo/React.png" alt="" />React
          </p>
          <p class="tech-tag">
            <img src="../../../assets/tech-logo/NodeJS.png" alt="" /> Node.js
          </p>
        </div>
      </div>
      <div class="exp-work">
        <h2>Desenvolvedor Angular</h2>
        <h3>LinkedRH</h3>
        <p class="exp-desc">
          <span class="exp-desc-title">Descrição:</span> Reestruturação e
          atualização do codigo Base, Atualização de Versao (Angular 9 ->
          Angular 12).
          <span class="highlight-text"
            >Aplicação de treinamento (REST,GIT) Básicos</span
          >. Participação em tomadas de decisões tecnicas para Design System.
        </p>
        <p class="exp-desc-date">Dezembro de 2022 - Julho de 2023</p>
        <div class="techs-container">
          <p class="tech-tag">
            <img src="../../../assets/tech-logo/Angular.png" alt="" />Angular
          </p>
        </div>
      </div>
      <div class="exp-work">
        <h2>Estagio FullStack</h2>
        <h3>Loop4Solutions - Brasil</h3>
        <p class="exp-desc">
          <span class="exp-desc-title">Descrição:</span> Resolução de Bugs para
          as aplicações Angular e Django. Atender e Gerenciar chamados dos
          clientes internacionais.
          <span class="highlight-text"
            >Criação de API em Django (Banco AWS RDS).</span
          >Solucionar Bugs em produção (Bugs de pequeno Impacto)
        </p>
        <p class="exp-desc-date">Dezembro de 2022 - Julho de 2023</p>
        <div class="techs-container">
          <p class="tech-tag">
            <img src="../../../assets/tech-logo/Angular.png" alt="" />Angular
          </p>
          <p class="tech-tag">
            <img src="../../../assets/tech-logo/Django.png" alt="" /> Django
          </p>
          <p class="tech-tag">
            <img src="../../../assets/tech-logo/AWS.png" alt="" /> AWS
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="divider"></div>
  <section id="projects" class="projects-section">
    <h1>Projects</h1>
    <div class="projects-container">
      <div class="project-card">
        <img
          class="card-img"
          src="../../../assets/projects-img/night-cycle.png"
          alt=""
        />
        <div class="project-card-desc">
          <p class="card-title">Night-Cycle</p>
          <p class="card-desc">Plataforma de Cursos para Metodologia Ageis</p>
        </div>
        <div class="techs-container">
          <p class="tech-tag">Angular</p>
          <p class="tech-tag">AWS RDS</p>
          <p class="tech-tag">AWD Route 63</p>
          <p class="tech-tag">Django</p>
          <p class="tech-tag">JWT</p>
          <p class="tech-tag">Hostinger</p>
        </div>
        <a href="https://www.night-cycle.com/" target="_blank">
          <button class="see-more-btn">Ver Mais</button></a
        >
      </div>
      <div class="project-card">
        <img
          class="card-img"
          src="../../../assets/projects-img/Caffeine.png"
          alt=""
        />
        <div class="project-card-desc">
          <p class="card-title">Caffeine</p>
          <p class="card-desc">
            Plataforma de Compra e Venda de Samples / Músicas
          </p>
        </div>
        <div class="techs-container">
          <p class="tech-tag">Angular</p>
          <p class="tech-tag">AWS RDS</p>
          <p class="tech-tag">AWD S3</p>
          <p class="tech-tag">Django</p>
        </div>
        <a href="https://caffeine-web.vercel.app/home" target="_blank"
          ><button class="see-more-btn">Ver Mais</button></a
        >
      </div>
    </div>
  </section>
</div>
