@import "reset.scss";

// ICONS
@import url("https://cdn.materialdesignicons.com/5.1.45/css/materialdesignicons.min.css");

// FONT
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans&family=Rubik+Mono+One&display=swap");

// Cores Padroes

:root {
  --very-light-primary-color: #cedef3;
  --light-primary-color: #5b91d7;
  --primary-color: #2c67b5;
  --dark-primary-color: #0c1c31;
  --very-dark-primary-color: #040910;

  --light-font-color: #eaeaea;
  --dark-font-color: #0e0e0e;

  --custom-font-family: "Rubik Mono One", monospace;
  --title-font-family: "Bebas Neue", sans-serif;
  --text-font-family: "Noto Sans", sans-serif;

  color: white;
  font-family: var(--title-font-family);
  scroll-behavior: smooth;
}

.main-content {
  min-height: 100vh;

  router-outlet ~ * {
    width: 100%;
    overflow: hidden;
    // user-select: none;
  }

  .page-container {
    padding-left: 18vw;
    background-color: var(--dark-primary-color);
  }

  .highlight-text {
    color: var(--light-primary-color);
  }
}

.flat-panel .mat-dialog-container {
  padding: 0;
  background-color: var(--very-dark-primary-color);
}

/* ===== Scrollbar CSS ===== */
/* ===== Scrollbar CSS ===== */
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--primary-color) var(--dark-primary-color);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: var(--dark-primary-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
  border: 4px solid var(--dark-primary-color);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
